.vjs-youtube-videowall-container
{
	z-index: 999;
	position: absolute;
	width: 100%;
	height: calc(100% - 3em);
	height: -webkit-calc(100% - 3em);
	margin-bottom: 3em;
}

.vjs-youtube-videowall-container-item 
{
	float: left;
	width: 25%;
	height: calc(100%/3);
	height: -webkit-calc(100%/3);
}

a.vjs-youtube-videowall-container-item-link:link, a.vjs-youtube-videowall-container-item-link:visited
{
	display: block;
	width: 100%;
	height: 100%;
	color: #ffffff;
	text-decoration: none;
}

.vjs-youtube-videowall-container-item-text
{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: background-color 0.5s, opacity 0.5s;
	-webkit-transition: background-color 0.5s, opacity 0.5s;
}

.vjs-youtube-videowall-container-item-text:hover
{
	background-color: #000000;
	opacity: 0.7;
}

.vjs-youtube-videowall-container-item-text-title
{
	font-size: 2em;
	padding: 0.25em;
}

.vjs-youtube-videowall-container-item-text-meta
{
	position: absolute;
	font-size: 1em;
	padding: 0.25em 0.5em;
	bottom: 0.25em;
}